.form_control{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.form_control input{
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(112, 37, 233, 0.26);
    padding-inline-start: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    height: 2.5rem;
    width: 90%;
}

.form_control label{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(59, 7, 75);
}

@media (max-width: 500px){
    .form_control{
        justify-content: start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 500px){
    .form_control{
        justify-content: start;
        margin-top: 1rem;
    }
}

