.button{
    background-color: #4b4d4e;
    border: 0px;
    border-radius: 5px;
    color: white;
    height: 2.5rem;
    width: 20%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color: #5d5e5f;
}

.button:active{
    background-color: #7b7c7c;
}

@media all and (max-width: 500px){
    .button{
        width: 90%;
    }
}